
 .home {
    background-image: url('background.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: fadeInBackground;
    animation-duration: 3s;
  }
  
  .content {
    text-align: center;
  }
  
  .title {
    color:rgb(243,215,113);
    animation-name: fadeInTitle;
    animation-duration: 2s;
    animation-delay: 1s;
  }
  
  .description {
    color:rgb(243,215,113);
    animation-name: fadeInDescription;
    animation-duration: 2s;
    animation-delay: 2s;
  }
  
  .btn {
    margin-top: 2rem;
    opacity: 0;
    transform: translateY(30px);
    animation-name: slideUpButton;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    color: rgb(243,215,113);
  }
  
  @keyframes fadeInBackground {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @keyframes fadeInTitle {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
  }
  
  @keyframes fadeInDescription {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
  }
  
  @keyframes slideUpButton {
    from { opacity: 0; transform: translateY(30px); }
    to { opacity: 1; transform: translateY(0); }
  }
  